<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <script src="../1/angular.js"></script>
    <script src="app.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.0.1/faker.min.js"></script>
</head>
<body ng-app="myApp">
	<div ng-controller="Averanges">
		<input type="text" ng-model="search.name" placeholder="name">
		<input type="text" ng-model="search.character" placeholder="character">
		{{search}}
		<table border="1">
			<tr ng-repeat="actor in averanges.cast | filter:search">
				<td>{{actor.name}}</td>
				<td>{{actor.character}}</td>
			</tr>
		</table>
	</div>
</body>
</html>